.football{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
#gameCanvas {
    margin: 40px 0;
    position: relative;
    background-color: #4CAF50;
    border-radius: 37px;
    border: solid 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.game-container {
    position: relative;
}

#score{
    display: none;
    margin-bottom: 36px;
}

@media screen and (max-width: 760px) {

    #gameCanvas {
width:480px !important;    }

}

@media screen and (max-width: 560px) {

    #gameCanvas {
width:380px !important;
border-radius: 25px ;
}

}


@media screen and (max-width: 400px) {

    #gameCanvas {
width:280px !important;
border-radius: 20px ;
}

}