.ourTeam{
    margin-bottom: 30px;
}
.our-team-title{
    text-align: center;
    margin: 30px 0;
}
.our-team-box{
    display: flex;
    justify-content: center;
}

.next-slide{
    border: none;
    background: none;
}

.back-btn{
    border: none;
    background: none;
}

.our-team-photo{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.name-student{
    text-align: center;
    margin-bottom: 12px;
}

.our-team-photo img{
    border-radius: 20px;
    object-fit: cover;
}