.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1090px;
    padding: 0 16px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  outline: none;
  border: none;
}
hr{
  height: 1;
  color: $black;
  width: 536px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
h1{
  margin-top: 36px;
  font-family: "Montserrat Alternates";
font-weight: 400;
font-size: 24px;

text-align: center;
}
main{
  background-image:url("../img/Group141.png");
  background-repeat:no-repeat ;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body.light-theme {
  background-color: #FFFFFF;
  color: black;
}

body.dark-theme {
  background-color: rgb(111, 111, 111);
  color: white;
}

header.light-theme {
  background-color: #FFFFFF;
  color: #000000;                
}

header.dark-theme {
  background-color: rgb(111, 111, 111);
  color: white;
}

body.light-theme .header__title {
  color: black;
}
body.dark-theme .header__title {
  color: white;
}
.line{
  width: 536px;
  border: 1px solid #000000;
  color: #000000;
}
.line {
  width: 536px;
  border: 1px solid #000000;
  color: #000000;
}


body.dark-theme .line {
  border-color: #FFFFFF;
}

.Games{
   font-family: "Montserrat Alternates";
 font-weight: 400;
 font-size: 24px;
 margin-bottom: 34px;
 margin-top: 34px;
}
body.dark-theme .header__arrow {
  stroke : #FFFFFF !important;
  fill: rgb(111, 111, 111) !important;
}
body.dark-theme .header__menu{
  border: 1px solid #FFFFFF;
}