<section>
    <div class="container">
        <center>
            <h3 id="title-calc">Калькулятор</h3>
        </center>
        <center><div class="container-calc">
            <input class="input-calc" type="number" id="firstInp" placeholder = 'Введіть число'>
            <ul class="ul-calc">
                <button type="button" class="button-calc" data-operator="+">+</button>
                <button type="button" class="button-calc" data-operator="*">*</button>
                <button type="button" class="button-calc" data-operator="-">-</button>
                <button type="button" class="button-calc" data-operator="/">/</button>
            </ul>
            <input class="input-calc" type="number" id="secondInp" placeholder = 'Введіть число'>
            <div class="button-calc" id="equal">=</div>
            <div class="input-calc" id="result"></div>
        </center>
    </div>
</section>