<div class="footer"> 
    <div class="image-footer">
        <img src="../img/coding_magic.png" alt="coding magic"  width="165"/>
    </div>

    <div class="info-footer">
        <a class="link-footer" href="tel:++38 (123) 456 78 90">
            Тел: +38 (123) 456 78 90
        </a>
        <a class="link-footer" href="mailto:codingmagic@gmail.com">
            E-Mail: codingmagic@gmail.com
        </a>
        <a class="link-footer" href="https://www.facebook.com/">
            Facebook: CodingMagic
        </a>
        <a class="link-footer" href="https://x.com/">
            Twitter: CodingMagic
        </a>
        <a class="link-footer" href="https://www.instagram.com/">
            Instagram: CodingMagic
        </a>
    </div>
    <div class="subscribe-footer">
        <form action="" class="form-footer">
            <input class="input-footer" type="email" placeholder="Ваша ел. адреса..." />
            <button class=" btn-footer js-footer-btn">Підписатись</button>
        </form>
        <p class="text-footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
 </div>