<div class="footer"> 
    <div class="image-footer">
        <img src="./img/Header-logo.svg" alt="coding magic"  width="165"/>   
    </div>

    <div class="info-footer">
        <a class="link-footer" href="tel:++38 (123) 456 78 90">
            Тел: +38 (123) 456 78 90
        </a>
        <a class="link-footer" href="mailto:codingmagic@gmail.com">
            E-Mail: codingmagic@gmail.com
        </a>
        <a class="link-footer" href="https://www.facebook.com/">
            Facebook: CodingMagic
        </a>
        <a class="link-footer" href="https://x.com/">
            Twitter: CodingMagic
        </a>
        <a class="link-footer" href="https://www.instagram.com/">
            Instagram: CodingMagic
        </a>
    </div>
    <div class="subscribe-footer">
        <form action="" class="form-footer">
            <input class="input-footer" type="email" placeholder="Ваша ел. адреса..." />
            <button class=" btn-footer js-footer-btn">Підписатись</button>
        </form>
        <p class="text-footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>

    <div id="modal" class="modal">
    <div class="modal-content"> 
        <p class="modal-footer-text">Дякуємо за підписку!</p>
        <button class="close-modal">
            <img src="./img/X.svg" alt="close">
            <div class="right-img-footer">
                <img class="development-footer" src="./img/game-development.svg" alt="development">
                <img class="tic-tac-toe-footer" src="./img/tic-tac-toe.svg" alt="tic-tac-toe">
            </div>
            <div class="left-img-footer">
                <img class="puzzle-footer" src="./img/puzzle.svg" alt="puzzle">
                <img class="sword-footer" src="./img/sword.svg" alt="sword">
            </div>
        </button>
    </div>
</div>  

 </div>