<section class="guessTheNumber all" data-action="numerical">
    <div class="container">
        <h2 class="guessTheNumber__title">Вгадай число, яке загадав комп’ютер</h2>
        <div class="guessTheNumber__info">
            <div class="guessTheNumber__box--input">
                <input type="number" class="guessTheNumber__input" placeholder="Введіть число" />
                <button class="guessTheNumber__btn--input">
                    <img class="guessTheNumber__img" src="./img/search.svg" alt="">
                </button>
            </div>
            <p class="guessTheNumber__result">
            </p>
        </div>
    </div>
<hr class="line">
</section>
    