<div class="backdrop" id="myModal">
    <div class="modal-header">
        <div class="modal__block">
            <div class="modal__close" id="closeModalBtn">
                <img class="img-x" src="./img/X.svg"  />
            </div>
            <div class="modal__main">
                <div class="modal__block-text">
                    <p class="modal__text">
                        Привіт!<br />
                        Ви потрапили на сайт інтерактивних ігор та завдань<br />
                        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br />
                        Бажаємо Вам гарно провести час!
                    </p>
                </div>
                <h4 class="modal__text modal__title">Введіть своє ім’я:</h4>
                <input class="modal__form-input" id="userInput" placeholder="Ваше ім’я..." />
                <button class="modal__box-btn" id="saveModalBtn">
                    <h4 class="modal__box-btn--title">Зберегти</h4>
                </button>
            </div>
        </div>
        <div class="modal__img">
            <div class="modal__img-left">
                <img class="modal__img-left-top" src="./img/sword.svg"  />
                <img class="modal__img-left-bottom" src="./img/puzzle.svg"  />
            </div>
            <div class="modal__img-right">
                <img class="modal__img-right-top" src="./img/game-development.svg"  />
                <img class="modal__img-right-bottom" src="./img/tic-tac-toe.svg"  />
            </div>
        </div>
    </div>

</div>