<header class="header ">
  <div class="container">
    <div class="header__block">
      <div class="header__right">
        <div class="header__logo">
          <img src="img/Header-logo.svg" alt="">
        </div>
        <div class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <div class="header__dropdown">
                <h3 class="header__title header__cursor">Інтерактив</h3>
                <svg class="header__arrow light__mode-svg" width="12" height="12">
                  <use xlink:href="img/symbol-defs.svg#icon-Header-arrow"></use>
                </svg>

              </div>
              <ul class="header__menu">
                <li class="header__menu-item header__title header__cursor">Всі секції</li>
                <li class="header__menu-item header__title header__cursor">Числовий</li>
                <li class="header__menu-item header__title header__cursor">Ігровий</li>
                <li class="header__menu-item header__title header__cursor">Ознайомчий</li>
              </ul>
            </li>
            <li class="header__item">
              <a href="#team" class="header__title header__cursor hed_com">Наша команда</a>
            </li>
            <li class="header__item">
              <a href="#footer" class="header__title header__cursor hed_contk">Контакти</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="header__left">
        <div class="switch">
          <label id="switch" class="switch__label">
            <input type="checkbox" onchange="toggleTheme()" id="slider_checkbox">
            <span class="slider round"></span>
        </label>
        </div>
        <div class="header__name">
          <h3 class="header__title header__hi-menu">
            Вітаємо, <span id="userName">User</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>