<section class="ourTeam">
    <h3 class="our-team-title">Наша команда</h3>
    
     <div class=" our-team-box container">
        <button class="back-btn"> 
            <img src="./img/back.svg" alt="">
         </button>
    <div class="first-slide">
        <div class="our-team-photo">
            <img src="./public/img/volodymyr.jpg" alt="photo" class="volodymyr-photo" width="150px" height="150px">
        </div>

        <div class="name-student">
          <h3 class="our-team-name">Володимир Удянський - тім лід</h3>
         </div>

        <div class="our-team-info">
         <p>Зробив: Хедер, гру перевір в який рік народився, гру вгадай число, темну тему</p>
        </div>
    </div>
    <div class="second-slide">
        <div class="our-team-photo">
            <img src="./public/img/veronika.jpg" alt="photo" class="veronika-photo" width="150px" height="150px">
        </div>

        <div class="name-student">
          <h3 class="our-team-name">Мартинчук Вероніка - скрам
            майстер</h3>
         </div>

        <div class="our-team-info">
         <p>Скрам-майстер, зробила: гру Google Dino, гру Футбол, гру «3 числа»</p>
        </div>
    </div>
    <div class="third-slide">
        <div class="our-team-photo">
            <img src="./public/img/leonid.jpg" alt="photo" class="leonid-photo" width="150px" height="150px">
        </div>

        <div class="name-student">
          <h3 class="our-team-name">Леонід Астаф’єф</h3>
         </div>

        <div class="our-team-info">
         <p>Зробив:
            Гру камінь-ножиці-папір,
            Калькулятор,
            Калькулятор часу.</p>
        </div>
    </div>
    <div class="fourth-slide">
        <div class="our-team-photo">
            <img src="./public/img/rostyslav_photo.jpeg" alt="photo" class="rostyslav-photo" width="150px" height="150px">
        </div>

        <div class="name-student">
          <h3 class="our-team-name"> Ростислав Голота</h3>
         </div>

        <div class="our-team-info">
         <p>Зробив: футер, обери вченого/их та слайд шоу наша команда</p>
        </div>
    </div>
    <button class="next-slide"><img src="./img/next.svg" alt=""></button>
</div>

    
    
</section>