<section class="scientist" data-action="informational" >
    <div class="container">
    <h3 class="choose-scientist">Обери вченого/их</h3>
<ul class="scientist-list">
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>

    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
</ul>

    <ul class="btn-scienttist-list">
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="born-in-19">Які вчені народилися в 19 ст.</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="albert-einshtein">Знайти рік народження Albert Einshtein</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="sort">Відсортувати вчених за алфавітом</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="find-surname">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="sort-years">Відсортувати вчених за кількістю прожитих років</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="delete" >Видалити всіх вчених, ім’я яких починається на “А”</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="scientist-born-late">Знайти вченого, який народився найпізніше</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="find-scientist">Знайти вченого, який прожив найдовше і вченого, 
            який прожив найменше</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js" id="same-first-sur">Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
    </ul>
</div>
<hr class="line">
</section>
