<section class="container scientist">

<ul class="scientist-list">
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>

    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
    <li class="scientist-item">
        <div class="scientist-inner">
            <p class="scientist-text"></p>
        </div>
    </li>
</ul>

    <ul class="btn-scienttist-list">
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Які вчені народилися в 19 ст.</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Знайти рік народження Albert Einshtein</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Відсортувати вчених за алфавітом</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Знайти вчених, прізвища яких починаються на на літеру “С” </button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Відсортувати вчених за кількістю прожитих років</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Видалити всіх вчених, ім’я яких починається на “А”</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Знайти вченого, який народився найпізніше</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Знайти вченого, який прожив найдовше і вченого, 
            який прожив найменше</button></li>
        <li class="btn-scienttist-item"><button class="button-scienttist button-scienttist-js">Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
    </ul>
</section>