<section class="stone">
    <h3 class="stone__title">Камінь-ножиці-папір</h3>
    <div class="container stone_">
        <div class="stone__container">
            <button class="stone__button" id="stone"><img src="./img/stone 1.svg" alt="Камінь"></button>
            <button class="stone__button" id="scissors"><img src="./img/scissors 1.svg" alt="Ножиці"></button>
            <button class="stone__button" id="paper"><img src="./img/paper 1.svg" alt="Папір"></button>
            
        </div>
        
        <h4 class="stone__game-result">Розпочніть гру!</h4>
        <button type="button" id="stone__button-mod">Варіант комп’ютера</button>
    </div>
    <p class="stone__result">Рахунок:
        Комп'ютер - 0
        Ви - 0
    </p>
</section>