<section class="stone"  data-action="game">
    <h3 class="stone__title">Камінь-ножиці-папір</h3>
    <div class="container stone_">
        <div class="stone__container">
            <div class="stone__button-container">
            <button class="stone__button" id="stone"><img class="stone__icon" src="./img/stone 1.svg" alt="Камінь"></button>
        </div>
        <div class="stone__button-container">
            <button class="stone__button" id="scissors"><img class="stone__icon" src="./img/scissors 1.svg" alt="Ножиці"></button>
        </div>
        <div class="stone__button-container">
            <button class="stone__button" id="paper"><img class="stone__icon" src="./img/paper 1.svg" alt="Папір"></button>
        </div>
            
        </div>
        <p id="stone__mobile-result" class="stone__result">Рахунок:
            Комп'ютер - 0
            Ви - 0
        </p>
        <h4 class="stone__game-result">Розпочніть гру!</h4>
        <button type="button" id="stone__button-mod">Варіант комп’ютера</button>
    </div>
    <hr class="line">
</section>
