<section class="three-num" data-action="numerical">
<div class="container-three-numbers">
    <p class="leap-year__main--text three-num">Введіть 3 числа</p>
    <div class="input-container">
        <input type="number" class="leap-year__main--text input-field num11" placeholder="Введіть число" oninput="findMax()">
        <input type="number" class="leap-year__main--text input-field num22" placeholder="Введіть число" oninput="findMax()">
        <input type="number" class="leap-year__main--text input-field num33" placeholder="Введіть число" oninput="findMax()">
    </div>
    <div class="leap-year__main--text result-one">Найбільше число, яке ви ввели - (число)</div>
</div>
<hr class="line">
</section>
